################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/vcpkg_installed
/include/detours.h
*.bak
/build
/Languages
/.vscode
/README_Fonts.md
/Data/Shaders/XiFeiLi
/.vs
src/answser.cpp
src/Decomplied.cpp
/src/BSShaderAccumulator.txt
/src/BSCullingProcess.cpp
/src/log.txt
/src/*.txt
/docs
